.DS_Store
.ipynb_checkpoints
*.pyc
lenstest/__pycache__/
dist/*
lenstest.egg-info/
docs/.ipynb_checkpoints/
docs/_build/
docs/api/
docs/aket6.cpp
docs/aket6.py
docs/cordero02 - Algorithm for the simulation of ronchigrams.pdf
docs/ronchi.bas
