---
name: test

on:    # yamllint disable-line rule:truthy
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:  # allow manual triggering

jobs:
  test:
    runs-on: ubuntu-latest
    name: Build and test

    strategy:
      matrix:
        python-version: ['3.9', '3.12']

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@master
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install package and dependencies
        run: |
          pip install numpy
          pip install matplotlib
          pip install -e .  # current package in editable mode

      - name: Test with pytest
        run: |
          pytest tests/test_foucault.py
          pytest tests/test_lenstest.py
          pytest tests/test_ronchi.py
